<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="beanOne" class="com.ricardo.practica2.other.examples.ThingOne">
        <constructor-arg ref="beanTwo"/>
        <constructor-arg ref="beanThree"/>
    </bean>

    <bean id="beanTwo" class="com.ricardo.practica2.other.examples.ThingTwo"/>

    <bean id="beanThree" class="com.ricardo.practica2.other.examples.ThingThree"/>
</beans>